{% extends "base.html" %}
{% block home %}


<main class="main">
    {% include "messages.html" %}
    <div class="hero-section">
        <div class="hero-single" style="background: url(../../../static/img/hero/akdamar4.jpg)">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-12 mx-auto">
                        <div class="hero-content text-center">
                            <div class="hero-content-wrapper">
                                <h1 class="hero-title">𝐊𝐎𝐅𝐈𝐑𝐀𝐙</h1>
                                <p>با کوفیراز سفری با کمترین نرخ، بهترین و باکیفیت ترین لحظات را تجربه کنید. سفر اقتصادی به معنای فدانکردن کیفیت است.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="counter-area pt-80 pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <i class="fal fa-check-circle"></i>
                        </div>
                        <div class="counter-content">
                            <div class="counter-number">
                                <span class="counter" data-count="+" data-to="500" data-speed="3000">500</span>
                                <span class="counter-sign">هزار</span>
                            </div>
                            <h6 class="title">رزرو انجام شده</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <i class="fal fa-check"></i>
                        </div>
                        <div class="counter-content">
                            <div class="counter-number">
                                <span class="counter-sign">+</span>
                                <span class="counter" data-count="+" data-to="10" data-speed="3000">10</span>
                                <span class="counter-sign">سال</span>
                            </div>
                            <h6 class="title">تجربه موفق</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <i class="fal fa-smile"></i>
                        </div>
                        <div class="counter-content">
                            <div class="counter-number">
                                <span class="counter-sign">بیش از</span>
                                <span class="counter" data-count="+" data-to="30" data-speed="3000">30</span>
                            </div>
                            <h6 class="title">هتل طرف قرارداد</h6>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-sm-6">
                    <div class="counter-box">
                        <div class="icon">
                            <i class="fal fa-users"></i>
                        </div>
                        <div class="counter-content">
                            <div class="counter-number">
                                <span class="counter-sign">بیش از</span>
                                <span class="counter" data-count="+" data-to="180" data-speed="3000">180</span>
                            </div>
                            <h6 class="title">شرکای تجاری</h6>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>



    <div class="feature-area py-120">
        <div class="container">
            <div class="feature-wrapper">
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="feature-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                            <div class="feature-icon">
                                <i class="flaticon-placeholder-1"></i>
                            </div>
                            <h4 class="feature-title">سابقه‌ی درخشان</h4>
                            <p>مفتخریم که با حضور در عرصه‌ی گرشگری با سابقه‌ای بیش از ۱۰ سال و همچنین با جلب اعتماد و رضایت مشتریان و شرکای تجاری خود،پابرجا و ممتاز در عرصه،به ارائه خدمات خود در ادامه دهد. </p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="feature-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                            <div class="feature-icon">
                                <i class="flaticon-price"></i>
                            </div>
                            <h4 class="feature-title">گارانتی سفر اقتصادی</h4>
                            <p>کوفیراز، خدماتی اصیل و با نازل‌ترین قیمت را برای مشتریان خود خود ارائه میدهد..</p>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="feature-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                            <div class="feature-icon">
                                <i class="flaticon-customer-service"></i>
                            </div>
                            <h4 class="feature-title">خدمات پشتیابانی 24/7</h4>
                            <p> با پشتیابانی در هر هفت روز و  هر ساعت از شبانه روز سفری آسوده خاطر و مطمعن را برای شما ارائه می‌دهیم. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="room-type pb-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">اتاق</span>
                        <h2 class="site-title">اتاق های پیشنهادی</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for room in offered_rooms%}
                    <div class="col-md-4">
                        <div class="room-type-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                            <img src="{{ room.image.url}}" alt="{{room.room_type}}">
                            <a href="{% url 'home:hotelroom' room.id %}" class="theme-btn">{{room.room_type}}<i class="fas fa-arrow-left"></i></a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>


    <div class="destination-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">هتل ها</span>
                        <h2 class="site-title">محبوب ترین هتل های ما</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                {% if offered_hotels %}
                    {% for hotel in offered_hotels %}
                        {% if forloop.counter <= 2 %}
                            <div class="col-md-12 col-lg-6">
                                <div class="destination-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                                    <div class="destination-img">
                                        <img src="{{ hotel.main_image.url }}" alt="{{ hotel.name }}">
                                    </div>
                                    <div class="destination-info">
                                        <h4>{{ hotel.name }}</h4>
                                        <div class="destination-more-info">
                                            <ul>
                                                <li><i class="far fa-hotel"></i> هتل {{ hotel.star }} ستاره</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'home:hotelsdetail' hotel.id user.id %}" class="destination-btn"><i class="far fa-arrow-left"></i></a>
                                    {% else %}
                                    <a href="{% url 'home:hotelsdetail_not_user' hotel.id %}" class="destination-btn"><i class="far fa-arrow-left"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        {% else %}
                            <div class="col-md-6 col-lg-3">
                                <div class="destination-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                                    <div class="destination-img">
                                        <img src="{{ hotel.main_image.url }}" alt="{{ hotel.name }}">
                                    </div>
                                    <div class="destination-info">
                                        <h4>{{ hotel.name }}</h4>
                                        <div class="destination-more-info">
                                            <ul>
                                                <li><i class="far fa-hotel"></i> هتل {{ hotel.star }} ستاره</li>
                                            </ul>
                                        </div>
                                    </div>
                                    {% if user.is_authenticated %}
                                    <a href="{% url 'home:hotelsdetail' hotel.id user.id %}" class="destination-btn"><i class="far fa-arrow-left"></i></a>
                                    {% else %}
                                    <a href="{% url 'home:hotelsdetail_not_user' hotel.id %}" class="destination-btn"><i class="far fa-arrow-left"></i></a>
                                    {% endif %}
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            </div>
        </div>
    </div>


    <div class="cta-area pb-120">
        <div class="container">
            <div class="cta-wrapper">
                <div class="row">
                    <div class="col-lg-7 mx-auto text-center">
                        <div class="cta-text">
                            <h1>تضمین کیفیت و نازل ترین قیمت با کوفیراز!</h1>
                            <p>کوفیراز به عنوان تنهاترین شرکت گردشگری با سابقه بالای ۱۰ سال و اولین شرکت گردشگری ایرانی تحت لیسانس تورساپ ترکیه مستقر در مرکز شهر وان مفتخر است که با اقتصادی ترین قیمت ها لحظاتی اصیل در سفر به شهر وان را به ارمغان برساند  </p>
                        </div>
                        <a href="#" class="theme-btn mt-30">ثبت‌نام کن<i class="far fa-arrow-left"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="blog-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">وبلاگ ها</span>
                        <h2 class="site-title">آخرین وبلاگ و اخبار</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/01.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="#"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/02.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="#"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/03.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="#">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="#"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock home %}