{% extends "base.html" %}
{% block title %}بازیابی رمزعبور2{% endblock title %}
{% block password_reset_done %}

<div class="login-area py-120">
    <div class="container">
        <div class="col-md-5 mx-auto">
            <div class="login-form">
                <div class="login-header">
                    <img src="../../../static/img/logo/kofirazlogo.png" alt>
                    <p>بازیابی رمزعبور</p>
                </div>
                <h4 style='color: black;'>ارسال لینک بازیابی رمزعبور</h4>
                <p style='color: black;'>لینک بازیابی رمزعبور به حساب ایمیل شما ارسال شد.</p>
            </div>
        </div>
    </div>
</div>

{% endblock password_reset_done %}