{% extends "base.html" %}
{% block title %}وبلاگ ها{% endblock title %}
{% block blogs %}

<main class="main">

    <div class="site-breadcrumb" style="background: url(../../../static/img/breadcrumb/02.jpg)">
        <div class="container">
            <h2 class="breadcrumb-title">وبلاگ ها</h2>
            <ul class="breadcrumb-menu">
                <li><a href="{% url 'home:home'%}">صفحه اصلی</a></li>
                <li class="active">وبلاگ ها</li>
            </ul>
        </div>
    </div>

    <div class="blog-area py-120">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 mx-auto wow fadeInDown" data-wow-duration="1s" data-wow-delay=".25s">
                    <div class="site-heading text-center">
                        <span class="site-title-tagline">وبلاگ ما</span>
                        <h2 class="site-title">آخرین وبلاگ و اخبار ما</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/01.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="{% url 'blogs:blogsdetail'%}">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="{% url 'blogs:blogsdetail'%}"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/02.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="{% url 'blogs:blogsdetail'%}">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="{% url 'blogs:blogsdetail'%}"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/03.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="{% url 'blogs:blogsdetail'%}">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="{% url 'blogs:blogsdetail'%}"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".25s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/01.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="{% url 'blogs:blogsdetail'%}">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="{% url 'blogs:blogsdetail'%}"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".50s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/02.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="{% url 'blogs:blogsdetail'%}">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="{% url 'blogs:blogsdetail'%}"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 col-lg-4">
                    <div class="blog-item wow fadeInUp" data-wow-duration="1s" data-wow-delay=".75s">
                        <div class="blog-item-img">
                            <img src="../../../static/img/blog/03.jpg" alt="Thumb">
                        </div>
                        <div class="blog-item-info"><br/>
                            <h4 class="blog-title">
                                <a href="{% url 'blogs:blogsdetail'%}">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و ساده است.</a>
                            </h4>
                            <a class="theme-btn mt-3" href="{% url 'blogs:blogsdetail'%}"> ادامه مطلب <i class="far fa-arrow-left"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="pagination-area">
                <div aria-label="Page navigation example">
                    <ul class="pagination">
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Previous">
                                <span aria-hidden="true"><i class="far fa-angle-double-left"></i></span>
                            </a>
                        </li>
                        <li class="page-item active"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item">
                            <a class="page-link" href="#" aria-label="Next">
                                <span aria-hidden="true"><i class="far fa-angle-double-right"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>

</main>

{% endblock blogs %}